// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .2s;


// *****************
// Color Variables
// *****************
$brand-color: #8850b1;
$dark: #2e2d2d;
$blue-dark: #22182a;
$gray: #5c5b5b;
$light-gray: #eee;
$white: #fff;

// Body Color
$text-color: $light-gray;

// Background Colors
$background-color: #1c1c1c; // Fallback color
$background-image: url('/images/background.png'); // Background image path

// Callouts Colors
$callout-note: #0a69da;
$callout-tip: #1a7f38;
$callout-important: #8251e0;
$callout-warning: #9b6800;
$callout-caution: #cf222e;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto Mono', monospace; // Updated to a technical monospaced font
$base-line-height: 1.7;

// Headings
$heading-font-weight: 900;
$heading-font-family: 'Roboto Mono', monospace; // Consistent monospaced font for headings
$heading-color: $text-color;

$font-size-h1: 42px; // Larger size for a modern, minimalistic look
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;

$heading-line-height: 1.4em;
$heading-letter-spacing: 0px;